*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #090833;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
/*Met de padding-left en right heb ik ruimte gecreed van de randen van rechts en links*/


.navbar{
    height: 20%;
    display: flex;
    align-items: center;
}

.logo{
    width: 150px;
    cursor: pointer;
    padding-left: 5%;
    float: left;
}
/*door de cursor: pointer krijg je een hand als je met je muis over de logo gaat.*/

nav{
    flex: 1;
    text-align: right;
    padding-top: 40px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
/*Met list: style none krijg je geen puntjes op je lijst*/
/*nav ul li is voor de linkjes ' HOME' 'AMSTELCAMPUS' en 'OVER ONS'*/

nav ul li a{
 text-decoration: none;
 color: #fff;
 font-size: 12;   
}

main{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding
    
    /*Hiermee heb ik de opmaak gemaakt van de tekst in de linkjes, kleur: wit, geen onderlijning en tekstgrootte 12*/
}


header{
    color: #fff;
    text-align: center;
}

h1 {
    text-transform: uppercase; 
    color:#fff;  

}

article {
    background-color: #C5ddef;
    padding: 1em;
    text-align: center;
    border-radius: 18px;
    max-width: 200px;;
    transition: transform 0.5;
    cursor: pointer;
}

article:hover{
    transform:translateY(-10px)
}

/*Als je op de article klikt gaat het met 10px omhoog en omlaag*/

a {
    text-decoration: none;    
}

.images-class{
    width: 300px;
    height: auto;
    padding-top: 100px;
    float: right; /*plaatsen van de afbeeldingen aan de linkerkant*/
}

.paragraph{
    color:#fff;
}


/*.colom{
    display: flex;
    align-items: center;
    padding-left: 30%;
    padding-right: 25%;
    color: #fff;
    font-size: 18px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 16px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #C6C5EF;
}
*/